body{
  min-height: 100vh;
  display: flex;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  flex-grow: 1;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero{
  height: 75vh !important;
}
.myform{
  height: 75vh !important;
  display: grid;
  place-content: center;
}




